@import 'compass';
@import 'compass/reset';
@import 'compass/typography/text/ellipsis';
@import 'mixins/hidpi';
@import 'fonts';
@import 'colors';
@import 'guides';
@import 'vendor/swiftype.autocomplete';
@import 'vendor/select2';
@import 'select2';

/* Calculated page dimensions. */
$page-width: 940px;
$col-width: 40px;
$col-spacing: 20px;
$sidebar-width: $col-width * 4 + $col-spacing * 3;
$content-width: $page-width - $sidebar-width - $col-spacing * 2;


@mixin width-for-columns($cols) {
  width: $cols * $col-width + ($cols - 1) * $col-spacing;
}

* {
  @include box-sizing(border-box);
}

body {
  background-color: #faf4f1;
  margin: 60px 0 0 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
  font-size: 14px;
  line-height: 1.4em;
  color: #444444;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

/* Typography */

a {
  color: #f23818;
  text-decoration: none;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: 'Maven Pro';
  font-weight: bold;

  code {
    text-transform: none;
  }
}

h1 {
  font-size: 24px;
  margin-top: 0;
  color: $orange-color;
  // border-bottom: solid 1px #d0d0d0;
  // This styling has been removed from everywhere other than
  // the API and Guides, like at line 1167.
  padding-bottom: 20px;
}

/* This next h1 is so h1s in the middle of the page (ie not the first time)
have additional breathing room up top */

h1:not(:first-child) {
  margin-top: 40px;
}

h2 {
  font-size: 22px;
  margin: .83em 0;
}

h2, h3{
  font-family: 'Maven Pro';
  font-weight: bold;
  color: $black-color;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
  line-height: 1.618em;
  color: $orange-color;
  letter-spacing: 1px;
  margin: 24px 0 12px 0;
}


ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}
p {
  margin: 1em 0;
}

/* Structure */

.section {
  margin: 0 auto;
  width: 960px;
}

/* Components */

.version-select {
  // Hide from users without javascript enabled
  // select2 will override this for users with javascript
  display: none;
}

.section {
  overflow: hidden;

  h2 {
    width: 100%;
    text-align: center;
    margin: 40px 0;
  }

  table.columns {
    margin: 0 auto;

    td {
      vertical-align: top;
      padding-right: 50px;
    }
  }
}

.anchorable-toc {
  position: relative;

  &:hover a.toc-anchor {
    display: block;
  }
}

a.toc-anchor {
  display: none;
  position: absolute;
  text-decoration: none;
  border: none;
  left: -1em;
  width: 30px;
  height: 13px;
  background: url('../images/link.png') no-repeat;
  background-size: 18px 9px;
  left: -22px;
  opacity: 0.5;
  top: 50%;
  margin-top: -5px;
}

/**
  Guides Page
**/

.guides {
  .chapter {
    $h3-indent: 32px;
    $body-indent: $h3-indent;

    h1 {
      padding-bottom: 0.5em;
    }

    ul, ol {
      margin-left: $body-indent;
      margin-bottom: 28px;

      li {
        font-size: 15px;
        margin: 10px 0 10px 0;

        p {
          padding-left: 7px;
        }
      }
    }
  }

  table {
    width: 100%;

    margin: 1em 0;

    thead {
      background-color: #f9e7e4;
    }

    th {
      font-weight: bold;
    }

    th, td {
      padding: 5px 10px;
    }

    &.specific {
      th, td {
        padding: 5px 6px;
      }
    }

    &.extensive {
      font-size: 9px;
    }
  }

  .note {
    background: rgba(0,0,0, 0.2);

    &::before {
      content: "Note"
    }
  }
}

.previous-guide {
  float: left;
  border-bottom: 1px solid transparent;
}

.next-guide {
  float: right;
  border-bottom: 1px solid transparent;
}

/**
  Buttons
*/

.button {
  display: block;
  width: 220px;
  height: 40px;
  font-family: 'Maven Pro';
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 40px;
  font-size: 14px;
  color: #f6ece8;
  text-align: center;
  @include text-shadow(rgba(0, 0, 0, 0.3) 0 1px 0);

  &.orange {
    border: 1px solid #cb6352;
    border-top-color: #ea7a68;
    border-bottom-color: #a04332;

    @include filter-gradient(#fe845a, #d14e37, vertical);
    @include background-image( linear-gradient(to bottom, #fe845a, #d14e37) );
    @include border-radius(5px);
    @include box-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.35));

    &:hover, &:focus {
      border-color: #e27260;
      border-top-color: #ea7a68;
      border-bottom-color: #c1513d;
      @include filter-gradient(#fc906b, #e2654e, vertical);
      @include background-image( linear-gradient(to bottom, #fc906b, #e2654e) );
    }

    &:active {
      border-color: #c9533d;
      border-top-color: #92473a;
      border-bottom-color: #e1583f;
      @include filter-gradient(#b2412e, #ed7249, vertical);
      @include background-image( linear-gradient(to bottom, #b2412e, #ed7249) );
      @include box-shadow(none);
      @include text-shadow(rgba(0, 0, 0, 0.2) 0 -1px 0);
    }
  }
}

a.edit-page {
  font-size: 18px;
  color: #444;
  margin: 0;
  width: 24px;
  height: 18px;
  display: inline-block;
  float: right;
  overflow: hidden;
  opacity: 0.4;

  &:hover {
    opacity: 1;
    border-bottom: 0;
  }
}


/**
  404 Page
**/

body.not-found #content {
  margin: 3em auto 0 auto;
  width: 54em;
}


/* Swiftype Search CSS overrides - https://swiftype.com/documentation/tutorials/custom_styles
   =========================================================================================== */

/* Change color of search dropdown text */
.swiftype-widget .autocomplete ul li {
  p.title {
    color: $orange-color;
  }

  &.active {
    background: none;
    background-color: $orange-color;
    border-top: 1px solid darken($orange-color, 20%);
    border-bottom: 1px solid darken($orange-color, 20%);
    @include box-shadow(0 1px 0 #C0242D inset);

    .sections {
      color: white;

      em {
        color: $black-color;
        text-shadow: lighten($orange-color, 10%) 0px -1px 0px;
      }
    }
  }
}

/* Changing the search result link colors */
.st-result-listing a {
  color: $orange-color;

  &:visited {
    color: darken($orange-color, 20%);
  }

  &:hover {
    color: lighten($orange-color, 20%);
  }
}
