.header {
  background: $ember-orange image-url("header.svg") top center no-repeat;
  background-size: cover;
  color: $white;
  padding: 1em 0;

  .container {
    @include media($large-screen) {
      display: flex;
    }
  }

  .header-nav {
    @include media($large-screen) {
      align-items: center;
      display: flex;
      height: 2.8em;
      justify-content: space-between;
    }
  }

  a {
    color: $white;
  }
}

.header-nav {
  li {
    @include margin(10px null);
    text-align: center;

    @include media($large-screen) {
      @include flex(1 0 0);
      display: inline-block;
    }
  }

  li:not(.header-logo):not(.header-search) {
    width: 32%;
    display: inline-block;
    @include media($large-screen) {
      width: auto;
    }
  }

  .header-logo {
    @include media($large-screen) {
      @include flex(1.5 0 0);
    }
  }

  .header-search {
    @include media($large-screen) {
      @include flex(2 0 0);
    }
  }
}

.header-logo {
  a {
    @include size(100px 40px);
    background: image-url("ember-logo.svg") no-repeat;
    display: block;
    margin: -15px auto 0 0;
  }
}

.header-search {
  @include media($large-screen) {
    margin-left: 4%;
  }

  .algolia-autocomplete {
    display: block !important; // beats `inline-block` added by DocSearch script
  }
  .search-input {
    width: 100%;
    height: 35px;
    margin-bottom: 0;
    padding-left: 2.5em;
    border: none;
    border-radius: 35px;
    outline: none;
    appearance: none;
    background: image-url("search-icon.svg") rgba(white, 0.1) 10px 10px no-repeat;
    box-shadow: none;
    font-size: 0.9rem;
    line-height: 35px;
    color: $white;

    @include placeholder {
      color: $white;
    }
  }
}
