.survey-reminder-wrapper {
  background: white;
  color: $ember-orange;
  text-align: center;
  line-height: 2.2;
  font-size: 0.8rem;
  border-bottom: 1px solid #e5dbd6;
  a {
    border-bottom: 1px dotted #f23818;
  }
}

.survey-reminder-container {
  width: inherit;
  line-height: 1.5;
  padding: 0.8rem 1rem;

  @include media($large-screen) {
    line-height: 2.2;
    padding: 0;
  }
}
