<header class="header">
  <ul class="header-nav container">
    <li class="header-logo">
        <a href="http://emberjs.com/">&nbsp;</a>
    </li>
    <li>
      <a href="http://emberjs.com/">About</a>
    </li>
    <li class="active">
      <a href="/">Guides</a>
    </li>
    <li>
      <a href="http://emberjs.com/api">API</a>
    </li>
    <li>
      <a href="http://emberjs.com/community">Community</a>
    </li>
    <li>
      <a href="http://emberjs.com/blog">Blog</a>
    </li>
    <li>
      <a href="http://emberjs.com/builds">Builds</a>
    </li>

    <li class="header-search">
      <form>
        <input type="text" id="st-search-input" class="st-search-input" placeholder="Search the guides"/>
      </form>
      <div id="st-results-container"></div>
    </li>
  </ul>
</header>

