<div id="header">
  <div id="wrapper">
    <a id="logo" href="http://emberjs.com/">&nbsp;</a>
    <ul id="nav">
      <li>
        <a href="http://emberjs.com/">about</a>
      </li>
      <li class="active">
        <a href="/">guides</a>
      </li>
      <li>
        <a href="http://emberjs.com/api">api</a>
      </li>
      <li>
        <a href="http://emberjs.com/community">community</a>
      </li>
      <li>
        <a href="http://emberjs.com/blog">blog</a>
      </li>
      <li>
        <a href="http://emberjs.com/builds">builds</a>
      </li>

      <li id="search">
        <form>
          <input type="text" id="st-search-input" class="st-search-input" placeholder="Search the guides"/>
        </form>
        <div id="st-results-container"></div>
      </li>
    </ul>

    <div id="github">
      <a href="https://github.com/emberjs/ember.js"><i class="icon-fork"></i>Fork Us!</a>
    </div>
  </div>
</div>
