<header class="header">
  <nav role="navigation" aria-label="main">
    <ul class="header-nav container">
      <li class="header-logo">
        <a href="http://emberjs.com/"><span class="visually-hidden">Ember homepage</span></a>
      </li>
      <li>
        <a href="http://emberjs.com/">About</a>
      </li>
      <li class="active" aria-label="You are here">
        <a href="/">Guides</a>
      </li>
      <li>
        <a href="http://emberjs.com/api">API</a>
      </li>
      <li>
        <a href="http://emberjs.com/community">Community</a>
      </li>
      <li>
        <a href="http://emberjs.com/blog">Blog</a>
      </li>
      <li>
        <a href="http://emberjs.com/builds">Builds</a>
      </li>

      <li class="header-search">
        <form>
          <input type="text" id="search-input" class="search-input" placeholder="Search the guides"/>
        </form>
      </li>
    </ul>
  </nav>
</header>
