<div class="survey-reminder-wrapper">
  <div class="survey-reminder-container">
    See the results of the
    <% link_to 'http://emberjs.com/ember-community-survey-2017' do %>
        2017 Ember Community Survey<% end %>!
  </div>
</div>
